// Base utilities and default device sidebar functionality
.mob-vis-md,
.mob-vis-sm {
	display: none;
}

@media only screen and (max-width: 768px) {
	.mob-vis-md {
		display: block;
	}
	.mob-hid-md {
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	.mob-vis-sm {
		display: block;
	}
	.mob-hid-sm {
		display: none;
	}
	
	.is-mobOpen .outer-container {
		left: -$mobMenuWidth;
	}
}

// Responsive menu
// --------------------------------------------------

.mob-menu {
	background-color: $bgMobColor;
	display: block;
	width: $mobMenuWidth;
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	z-index: 1;
}