/* Spritesheet */

.icn {
	display: block;
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
}
.icn span { display: none; }



/* Swapping out for mobile sizes */
@media only screen and (max-width: 960px) {

}



@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
	.icn { background-image: url(../img/sprites@2x.png); background-size: 960px 960px; }
	
	/* Seperate icons to swap out */
	
}