//  Header
// --------------------------------------------------

header {
	width: 100%;
	display: block;
}

header a {
	text-decoration: none;
}

// Logo
header .logo {
	float: left;
	padding: 20px;
}

// Hamburger
.hamburger {
	text-align: center;
	@include font-size(12);
	float: right;
	padding: 20px;
}
.hamburger .divider {
	width: 20px;
	height: 2px;
	background-color: #000;
	display: block;
	margin: 2px auto;
}


// Nav
header nav {
	float: right;
}

header nav li {
	display: inline-block;
}

header nav a {
	padding: 20px;
	display: block;
}


// Mobile call to action buttons
.mob-cta {
	clear: both;
	margin-bottom: 20px;
}
.mob-cta .btn {
	width: 50%;
	float: left;
}