// Box sizing
// --------------------------------------------------
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// Layout
// --------------------------------------------------

html,
body{ height: 100%; }

body {
	background: $bgColor;
	font-family: $fontStack;
	@include type();
	color: $color_1;
}

// Page container for the entire page
.page-container {
	width: 100%;
	overflow: hidden;
	position: relative;
}

// Outer container that shifts aside to reveal device menu
.outer-container {
	background-color: $bgColor;
	width: 100%;
	position: relative;	
	left: 0;
	z-index: 2;
	transition: all .2s cubic-bezier(0.77, 0, 0.175, 1);
}

// Container with max-width, to hold content
.container {
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.content {
	// Temporary styling to replicate content. Delete this.
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

// For hidden content

.hidden {
	display: none;
}

// Reset all navigational lists

nav ul {
	@include listReset();
	margin: 0;
}
nav li {
	margin: 0;
}