// User avatars
// --------------------------------------------------

.avatar {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	padding: 13px;
}

.avatar img {
	border-radius: 50%;
}

.avatar:after {
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4.5px 0 4.5px;
	border-color: #ffffff transparent transparent transparent;
	position: absolute;
	left: -8px;
	top: 24px;
}

.avatar:hover img {
	opacity: .8;
}