// Buttons
// --------------------------------------------------

button {
	border: none;
	outline: none;
}

.btn {
	display: block;
	padding: 10px 15px;
	text-align: center;
	background-color: $buttonColor;
	color: #fff;
	@include transition(background-color);
	
	&:hover {
		color: #fff;
		background-color: $hoverColor;
	}
}