// Forms
// --------------------------------------------------

input, textarea {
	@include type();
	font-family: $fontStack;
	transition: border-color .2s ease-out,-webkit-box-shadow .2s ease-out;
	background:  #fff;
	border: 1px solid #ddd;
	color: #666;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    appearance: checkbox !important;
}

input:focus, textarea:focus {
	outline: none;
    box-shadow: 0 0 6px 0 #4b9de3;
	border: 1px solid #4b9de3 !important;
}

// Select styling
div.styled { 
    overflow:hidden; /* this hides the select's drop button */
    padding:0; 
	margin:0; 
	@include font-size(16);
	margin-bottom: 15px;
	border: 1px solid #ebebeb;
	padding: 9px 10px 10px; 
	width: 100%;
	position: relative;
}

div.styled select { 
    width:115% /* this percentage effectively extends the drop down button out of view */; 
    background-color:transparent /* this hides the select's background making any styling visible from the div */; 
    background-image:none; 
    -webkit-appearance: none /* this is required for Webkit browsers */; 
    border:none; 
    box-shadow:none; 
    padding:0.3em 0.5em; /* padding should be added to the select, not the div */
}

div.styled select:focus {
	outline: none;
}

.ie7 div.styled {border:none; }
.ie7 div.styled select { 
    width:100%; 
    background-color:white; 
    border: solid 1px #ccc; 
    padding:0.3em 0.5em; 
}

// Infield label
.infield {
	position: relative;
}
.infield label {
	position: absolute;
	left: 20px;
	top: 14px;
	text-transform: none;
	@include font-size(18);
}