// Site Search
// --------------------------------------------------

.siteSearch {
	position: absolute;
	top: 0;
	right: 80px;
	margin-top: 12px;
}

#searchInput {
	width: 200px;
	background: rgba(0,0,0,.3);
	border: none;
	border-radius: 20px;
	padding: 6px 14px;
	@include type_2;
}

.siteSearch label {
	position: absolute;
	left: 16px;
	top: 7px;
	color: rgba(255,255,255,.5);
	@include type_2;
}

.siteSearch button {
	position: absolute;
	background: #fff;
	border-radius: 20px;
	height: 20px;
	top: 6px;
	right: 6px;
	@include type_1;
	font-weight: bold;
}